<div class="herocard-container">
  <div class="herocard-container-inner">
    <div class="herocard-name-container">
      <div class="herocard-name">
          <h1>STEVEN ROBERT HALASE</h1>
        </div>
        <div class="herocard-title">
          <span>Web Developer | Combat Veteran</span>
        </div>
    </div>
    <div class="herocard-description-container">
      <div class="herocard-description">
        <span>Finding joy in challenging myself to architect novel solutions to problems in our businesses and communities.</span>
      </div>
      <div class="herocard-links">
        <div class="herocard-link">
          <svg-icon 
            src="../../assets/link.svg" 
            [svgStyle]="{ 'width.px':15, 'height.px':15 }"></svg-icon>
          <a target="_blank" href="http://halasedesign.net">halasedesign.net</a>
        </div>
        <div class="herocard-link">
          <img src="../../assets/github.svg"/>
          <a target="_blank" href="https://github.com/stevenhalase">github.com/stevenhalase</a>
        </div>
        <div class="herocard-link">
          <img src="../../assets/phone.svg"/>
          <a target="_blank" href="tel:262-497-0241">262.497.0241</a>
        </div>
      </div>
    </div>
  </div>
</div>
